/* Gel */
:root {
    --gel: rgba(235,232,225, .24);
    --gel-2: rgba(235,232,225, .36);
    --gel-3: rgba(235,232,225, .64);
    --gel-4: rgba(235,232,225, .72);
    --gel-5: rgba(235,232,225, .80);
    --gel-6: rgba(235,232,225, .88);
    --gel-7: rgba(235,232,225, .96);

    --gel-dark: rgba(34,34,34, .24);
    --gel-dark-2: rgba(34,34,34, .36);
    --gel-dark-3: rgba(34,34,34, .64);
    --gel-dark-4: rgba(34,34,34, .72);
    --gel-dark-5: rgba(34,34,34, .80);
    --gel-dark-6: rgba(34,34,34, .88);
    --gel-dark-7: rgba(34,34,34, .96);
}

/* Dreamsicle */
:root {
    --dreamsicle: #F8A100;
    --dreamsicle-brightest: #FED79C;
    --dreamsicle-brighter: #FCC568;
    --dreamsicle-bright: #FAB334;
    --dreamsicle-dark: #C68100;
    --dreamsicle-darker: #946100;
    --dreamsicle-darkest: #624100;
    --dreamsicle-print: #493100;
}

/* Bittersweet */
:root {
    --bittersweet: #FF765E;
    --bittersweet-brightest: #FFCABE;
    --bittersweet-brighter: #FFAE9E;
    --bittersweet-bright: #FF927E;
    --bittersweet-dark: #CB5E4C;
    --bittersweet-darker: #97463A;
    --bittersweet-darkest: #632E28;
    --bittersweet-print: #49221F;
}

/* Bondi */
:root {
    --bondi: #009FB7;
    --bondi-brightest: #9CDBE1;
    --bondi-brighter: #68C7D3;
    --bondi-bright: #34B3C5;
    --bondi-dark: #007F93;
    --bondi-darker: #005F6F;
    --bondi-darkest: #003F4B;
    --bondi-print: #002F39;
}

/* Jade */
:root {
    --jade: #2db78b;
    --jade-brightest: #ABE1D3;
    --jade-brighter: #81D3BB;
    --jade-bright: #57C5A3;
    --jade-dark: #23936F;
    --jade-darker: #196F53;
    --jade-darkest: #0F4B37;
    --jade-print: #0A3929;
}

/* Clover */
:root {
    --clover: #29bf12;
    --clover-brightest: #A7E3A2;
    --clover-brighter: #7DD772;
    --clover-bright: #53CB42;
    --clover-dark: #21990E;
    --clover-darker: #19730A;
    --clover-darkest: #114D06;
    --clover-print: #0D3A04;
}

/* Hydrant */
:root {
    --hydrant: #C5132B;
    --hydrant-brightest: #E9A3A9;
    --hydrant-brighter: #DD737F;
    --hydrant-bright: #D14355;
    --hydrant-dark: #9D0F23;
    --hydrant-darker: #750B1B;
    --hydrant-darkest: #4D0713;
    --hydrant-print: #39050F;
}

/* Lemon */
:root {
    --lemon: #F7D425;
    --lemon-brightest: #FDECA9;
    --lemon-brighter: #FBE47D;
    --lemon-bright: #F9DC51;
    --lemon-dark: #C5AA1D;
    --lemon-darker: #938015;
    --lemon-darkest: #61560D;
    --lemon-print: #484109;
}

/* Tangerine */
:root {
    --tangerine: #FF5432;
    --tangerine-brightest: #FFBAB0;
    --tangerine-brighter: #FF9886;
    --tangerine-bright: #FF765C;
    --tangerine-dark: #CB4428;
    --tangerine-darker: #97341E;
    --tangerine-darkest: #632414;
    --tangerine-print: #491C0F;
}

/* Jam */
:root {
    --jam: #A4036F;
    --jam-brightest: #DA99C3;
    --jam-brighter: #C867A7;
    --jam-bright: #B6358B;
    --jam-dark: #840359;
    --jam-darker: #640343;
    --jam-darkest: #44032D;
    --jam-print: #340322;
}

/* Payne */
:root {
    --payne: #4F6D7A;
    --payne-brightest: #BBC7C8;
    --payne-brighter: #97A9AE;
    --payne-bright: #738B94;
    --payne-dark: #3F5762;
    --payne-darker: #2F414A;
    --payne-darkest: #1F2B32;
    --payne-print: #172026;
}

/* Cobalt */
:root {
    --cobalt: #2F4FC8;
    --cobalt-brightest: #ADBBEC;
    --cobalt-brighter: #8397E0;
    --cobalt-bright: #5973D4;
    --cobalt-dark: #253FA0;
    --cobalt-darker: #1B2F78;
    --cobalt-darkest: #111F50;
    --cobalt-print: #0C173C;
}

/* Bubblegum */
:root {
    --bubblegum: #ff1481;
    --bubblegum-brightest: #FFA4CF;
    --bubblegum-brighter: #FF74B5;
    --bubblegum-bright: #FF449B;
    --bubblegum-dark: #CB1067;
    --bubblegum-darker: #970C4D;
    --bubblegum-darkest: #630833;
    --bubblegum-print: #490626;
}

/* UFO */
:root {
    --ufo: #0cce6b;
    --ufo-brightest: #9CECC5;
    --ufo-brighter: #6CE2A7;
    --ufo-bright: #3CD889;
    --ufo-dark: #0AA455;
    --ufo-darker: #087A3F;
    --ufo-darkest: #065029;
    --ufo-print: #053B1E;
}

/* Funk */
:root {
    --funk: #a253db;
    --funk-brightest: #D8B9F3;
    --funk-brighter: #C697EB;
    --funk-bright: #B475E3;
    --funk-dark: #8243AF;
    --funk-darker: #623383;
    --funk-darkest: #422357;
    --funk-print: #321B41;
}

/* Confetti */
:root {
    --confetti: #E83151;
    --confetti-brightest: #F4AFB7;
    --confetti-brighter: #F08595;
    --confetti-bright: #EC5B73;
    --confetti-dark: #BA2741;
    --confetti-darker: #8C1D31;
    --confetti-darkest: #5E1321;
    --confetti-print: #470E19;
}

/* Indy */
:root {
    --indy: #6969b3;
    --indy-brightest: #C3C3E3;
    --indy-brighter: #A5A5D3;
    --indy-bright: #8787C3;
    --indy-dark: #53538F;
    --indy-darker: #3D3D6B;
    --indy-darkest: #272747;
    --indy-print: #1C1C35;
}

/* Vermillion */
:root {
    --vermillion: #c3423f;
    --vermillion-brightest: #E7B4B1;
    --vermillion-brighter: #DB8E8B;
    --vermillion-bright: #CF6865;
    --vermillion-dark: #9B3433;
    --vermillion-darker: #732627;
    --vermillion-darkest: #4B181B;
    --vermillion-print: #371115;
}

/* Brick */
:root {
    --brick: #DA6A63;
    --brick-brightest: #F2C4C3;
    --brick-brighter: #EAA6A3;
    --brick-bright: #E28883;
    --brick-dark: #AE544F;
    --brick-darker: #823E3B;
    --brick-darkest: #562827;
    --brick-print: #401D1D;
}

/* Caramel */
:root {
    --caramel: #D07934;
    --caramel-brightest: #EEC7AC;
    --caramel-brighter: #E4AD84;
    --caramel-bright: #DA935C;
    --caramel-dark: #A6612A;
    --caramel-darker: #7C4920;
    --caramel-darkest: #523116;
    --caramel-print: #3D2511;
}

/* Stone */
:root {
    --stone: #6d6d6d;
    --stone-brightest: #C7C7C7;
    --stone-brighter: #A9A9A9;
    --stone-bright: #8B8B8B;
    --stone-dark: #575757;
    --stone-darker: #414141;
    --stone-darkest: #2B2B2B;
    --stone-print: #202020;
}