@font-face {
  font-family: 'dreamicons';
  src:
    url('fonts/dreamicons.ttf?p7pvv9') format('truetype'),
    url('fonts/dreamicons.woff?p7pvv9') format('woff'),
    url('fonts/dreamicons.svg?p7pvv9#dreamicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dreamicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dream-cancel:before {
  content: "\e909";
}
.dream-deny:before {
  content: "\e90c";
}
.dream-gear:before {
  content: "\e90b";
}
.dream-check:before {
  content: "\e908";
}
.dream-information:before {
  content: "\e90a";
}
.dream-forwardandleftarrow:before {
  content: "\e900";
}
.dream-leftarrow:before {
  content: "\e901";
}
.dream-leftanddownarrow:before {
  content: "\e902";
}
.dream-downarrow:before {
  content: "\e903";
}
.dream-rightanddownarrow:before {
  content: "\e904";
}
.dream-rightarrow:before {
  content: "\e905";
}
.dream-forwardandrightarrow:before {
  content: "\e906";
}
.dream-uparrow:before {
  content: "\e907";
}
