@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-Regular.eot');
  src: local('Rubik'), local('Rubik-Regular'),
      url('Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-Regular.woff2') format('woff2'),
      url('Rubik/Rubik-Regular.woff') format('woff'),
      url('Rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-BlackItalic.eot');
  src: local('Rubik Black Italic'), local('Rubik-BlackItalic'),
      url('Rubik/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-BlackItalic.woff2') format('woff2'),
      url('Rubik/Rubik-BlackItalic.woff') format('woff'),
      url('Rubik/Rubik-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-Italic.eot');
  src: local('Rubik Italic'), local('Rubik-Italic'),
      url('Rubik/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-Italic.woff2') format('woff2'),
      url('Rubik/Rubik-Italic.woff') format('woff'),
      url('Rubik/Rubik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-LightItalic.eot');
  src: local('Rubik Light Italic'), local('Rubik-LightItalic'),
      url('Rubik/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-LightItalic.woff2') format('woff2'),
      url('Rubik/Rubik-LightItalic.woff') format('woff'),
      url('Rubik/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-BoldItalic.eot');
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
      url('Rubik/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-BoldItalic.woff2') format('woff2'),
      url('Rubik/Rubik-BoldItalic.woff') format('woff'),
      url('Rubik/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-Light.eot');
  src: local('Rubik Light'), local('Rubik-Light'),
      url('Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-Light.woff2') format('woff2'),
      url('Rubik/Rubik-Light.woff') format('woff'),
      url('Rubik/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-Medium.eot');
  src: local('Rubik Medium'), local('Rubik-Medium'),
      url('Rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-Medium.woff2') format('woff2'),
      url('Rubik/Rubik-Medium.woff') format('woff'),
      url('Rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-Black.eot');
  src: local('Rubik Black'), local('Rubik-Black'),
      url('Rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-Black.woff2') format('woff2'),
      url('Rubik/Rubik-Black.woff') format('woff'),
      url('Rubik/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-Bold.eot');
  src: local('Rubik Bold'), local('Rubik-Bold'),
      url('Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-Bold.woff2') format('woff2'),
      url('Rubik/Rubik-Bold.woff') format('woff'),
      url('Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-MediumItalic.eot');
  src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'),
      url('Rubik/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('Rubik/Rubik-MediumItalic.woff2') format('woff2'),
      url('Rubik/Rubik-MediumItalic.woff') format('woff'),
      url('Rubik/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
    font-family: 'renner';
    src: url('renner/renner-bookitalic-webfont.woff2') format('woff2'),
         url('renner/renner-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
