html {font-size: 1.2em; font-family: 'Rubik';}

p {margin-bottom: 1em; max-width: 40em}

h1, h2, h3, h4 {
  margin: 1.2052em 0 0.25em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: 'renner';
  font-style: italic;
  text-transform: lowercase;
}

h1 {
    font-style: normal;
    text-transform: none;
    margin-top: 0;
    font-size: 5.063em;
    font-family: "Rubik";
    font-weight: 300;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em; margin: 0.25em 0 0.25em;}

small, .font_small {font-size: 0.667em;}

